/* For flashed messages; make them stand out using red and italics */

#messages {
    color: red;
    font-style: italic;
}

h1 {
    font-size: 200%;
    color: rgb(0, 0, 0);
}

body {
    font-family: 'Geneva', sans-serif;
    color: #000000;
    background-color: #aedcfa;
    margin: 20px 2em;
}



    
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
      
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
      
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
      
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

      
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}