{% if isAdmin%}
    {% extends "baseAdmin.html" %}
{%else%}
    {% extends "base.html" %}
{%endif%}


{% block main_content %}
<head>
<h1>Available shifts seeking coverage</h1>
</head>
<body>
    <p>
        <ol>
            {% for shift in shifts %}
            <li>
            <p>Request number: {{shift['request_id']}}</p> 
            <p>Request made by: {{shift['req_employee']}}@wellesley.edu</p> 
            <p>Time: {{shift['day']}} {{shift['time']}} until {{shift['endtime']}}</p> 
            <form action="{{url_for('grabShift')}}" method="post">
                <input type="hidden" name="shiftid" value="{{shift['shift']}}">
                <input type="submit" value="grab this shift">
                </form>
            </li>
            {% endfor %}
        </ol>
    </p>
</body>

<h1>Shifts You are Currently Covering</h1>
<ol>
{% for shift in covered %}

<li>
    <p>Request number: {{shift['request_id']}}</p> 
    <p>Request made by: {{shift['req_employee']}}@wellesley.edu</p> 
    <p>Time: {{shift['day']}} {{shift['time']}} until {{shift['endtime']}}</p> 
</li>

{%endfor%}
</ol>
{% endblock %}