<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Bianca Pio">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block nav %}
<div id="navigation">
    <ul>
        <li><a href="{{url_for('index')}}">Home</a> 
        <li><a href="{{url_for('shifts')}}">Find Shifts</a></li>
        <li><a href="{{url_for('inputSchedule')}}">Input Schedule</a></li>
        <li><a href="{{url_for('input_availability')}}">Input Availbilty</a></li>
        <li><a href="{{url_for('request_coverage')}}">Request Coverage</a></li>
        <li><a href="{{url_for('profile')}}">Profile</a> 
        <li><a href="{{url_for('search')}}">Search Shifts by Username</a></li>
        <li><a href="{{url_for('adminfunctions')}}">Admin Functions</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a> 
    </ul>        
</div>
{% endblock %}

{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

</body>
</html>