<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Bianca Pio">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block nav %}
<div id="navigation">
    <ul>
        <!-- need to change home for when logged in to not go back to the log in page -->
        <li><a href="/">Home</a> 
        <li><a href="/logout/">Logout</a> 
        <li><a href="/shifts/">Find shifts</a></li>
        <li><a href="/inputSchedule/">Input a schedule</a></li>
        <li><a href="/input_availability/">Input your availbilty</a></li>
        <li><a href="/request_coverage/">Request coverage</a></li>

    </ul>        
</div>
{% endblock %}

{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

</body>
</html>
