{% extends "base.html" %}

{% block main_content %}
<h1>Input your Availability</h1>
<form method="post" action="{{url_for('input_availability')}}">

      <p>Shift Availability:</p>
      <p>Please input a shift that you are not scheuled for, but are willing and able to cover if needed.
      </p>
    
    <p><label> Day of the Week
            <select required name="day">
                <option value="">choose</option>
                <option value= "Monday">Monday</option>
                <option value= "Tuesday">Tuesday</option>
                <option value= "Wednesday">Wednesday</option>
                <option value= "Thursday">Thursday</option>
                <option value= "Friday">Friday</option>
                <option value= "Saturday">Saturday</option>
                <option value= "Sunday">Sunday</option>
            </select>
        
    </label></p>
    
    <p><label> Start time
        <input type ="time" required name = "start_time">
    <p><label> End time
      <input type ="time" required name = "end_time">

    </label></p>
    <p><input type="submit" required name = "submit" value="process form">
    </form>

    {% endblock %}