{% extends "base.html" %}
{% block main_content %}
<h1>Employee Profile</h1>
<form id="update_profile" action="{{url_for('profile')}}" method="post">
    <p>**If you wish to change your name or username, please contact your supervisor**</p>
    <p>Username: {{username}}</p>
    <p>Name: {{name}}</p>
    <p><label> Pronouns:
        <select name="pronouns">
            <option value="">{{pronouns}}</option>
            <option value= "she/her">she/her</option>
            <option value= "he/him">he/him</option>
            <option value= "they/them">they/them</option>
            <option value= "zie/zim">zie/zim</option>
            <option value= "other">other</option>
        </select>
    </label></p>
    <label for="other_pronouns">If selecting other, please list your pronouns here:</label>
    <input type="text" id="other_pronouns" name="other_pronouns"><br>
    <p><button type="submit">Submit changes</button></p>
</form>

    <p>Upload a profile picture:
        <form method="post" action="{{url_for('upload')}}"  enctype = "multipart/form-data">
        <p><label>Pic: <input type="file" name="pic"></label></p>
        <p><input type="submit" value="upload"></p>
    </form>

    {% if username != '' and src != '' %}
        <p>Last upload: {{username}}</p>
        <p> <img src="{{src}}"></p>
    {% endif %}


{% endblock %}