<!--    
    FindASubstitute
    Bianca Pio, Alexandra Bullen-Smith, Margaret Harrigan
    CS 304 Final Project
    Submitted May 13, 2020

    user_shifts.html loads the page that displays all a user's shifts
-->

{% extends "baseAdmin.html" %}

{% block main_content %}

<h1>All {{username}}'s Shifts</h1>
        <body>
            <p>
                <ol>
                    {% for shift in shifts %}
                    <li>
                    <p>{{shift['day']}} {{shift['time']}} to {{shift['endtime']}}</p> 
                    </li>
                    {% endfor %}
                </ol>
            </p>
        </body>

{% endblock %}